#leftdiv{
    width: 50%;
    background-color: rgb(223, 240, 240);
    border-color: black;
    border: 1px solid;
    
}

#rightdiv{
    width: 50%;
    background-color: aqua;
    border-color: black;
    border: 1px solid;
}

#selecteditems{
    width: 100%;
    background-color: aqua;
    border-color: black;
    border: 1px solid;
}

#billdetails{
    width: 100%;
    background-color: rgb(0, 255, 255);
    border-color: rgb(255, 255, 255);
    border: 1px solid;
}
#div1{
    
    padding: 5px;
}

#recorddiv{
    float: left;
    border: 1px solid;

    margin-left: 230px;
}

th{ 
    color:#fff;
  }

#div2{
    padding: 5px;
    float: left;

}

#sb1{
    width: 100%;
    background-color: aqua;
    border-color: black;
    border: 1px solid;
}

#sb2{
    width: 100%;
    background-color: rgb(0, 255, 255);
    border-color: black;
    border: 1px solid;

}