
#frm{
    margin-top: 10px;
    margin-left: 10px;
}
#leftdiv{
    background-color: rgba(58, 208, 245, 0.684);
    margin-right: 5px;
    padding: 1%;
}
#rightdiv{
    background-color: rgba(58, 208, 245, 0.684);
    width: 1200px;
    height: 650px;
    padding: 5px;
}


#recorddiv{
    float: left;
    border: 1px solid;
    width: 1140px;
    margin-left: 90px;
}

th{ 
    color:rgb(8, 8, 8);
    background-color: rgb(251, 179, 106);
  }
